.answer {
display: flex;
    flex-direction: column;
}
.answer p {
  font-size: 8rem;
}
.answer input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #6c6969;
  width: 80px;
  font-size: 6rem;
  text-align: center;
  overflow: visible;
  display: inline-block;
}
.answer h3 {
  font-size: 6.5rem;
  text-align: center;
  margin-bottom: 2em;
}
