.answer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.answer p {
  font-size: 8rem;
}
.answer button {
  position: relative;
  order: 4;
  font-size: 2rem;
  width: min-content;
  padding: 0.5em 2em;
  text-transform: uppercase;
  border: none;
  border-radius: 20px;
  color: var(--bg-color);
  background-color: var(--primary);
  transition: scale 0.3s;
}
.answer button:hover {
  scale: 0.95;
}
.answer input {
  background-color: transparent;
  border: none;
  border-bottom: 3px solid #6c6969;
  width: 80px;
  font-family: inherit;
  margin-left: 30px;
  font-size: 6rem;
  text-align: center;
  overflow: visible;
  padding-bottom: none;
}
.input-question-container {
  display: flex;
  justify-content: center;
  order: 2;
}
.answer h3 {
  font-size: 6.5rem;
  text-align: center;
  margin-bottom: 0.5em;
  order: 1;
}
.answer .questionNum {
  order: 5;
  font-weight: bold;
}
