*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
:focus {
  outline: none;
}
:root {
  --bg-color: #dbe2ef;
  --primary: #3f72af;
  --secoundary: #112d4e;
}
body {
  position: relative;
  background-color: var(--bg-color);
  font-family: 'Playpen Sans', cursive;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}
.wrapper {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
button {
  font-family: inherit;
  font-size: 1em;
  cursor: pointer;
}
nav {
  top: 0;
  position: absolute;
  width: 100%;
  min-height: 60px;
  background-color: var(--primary);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  grid-row: 1;
}
.nav-title {
  color: var(--secoundary);
  margin-left: 7%;
  text-decoration: none;
  font-size: 4rem;
  font-weight: bold;
}
.chose-quiz {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(2, 130px);
  align-self: center;
  gap: 50px;
  margin-right: 5px;
  margin-left: 5px;
}
.chose-quiz--chose-diff {
  grid-template-rows: repeat(3, 130px);
  grid-template-columns: 400px;
}
.chose-quiz__btn,
.chose-diff-btn {
  border: none;
  color: #fff;
  background-color: var(--primary);
  font-size: 4rem;
  transition: all 0.3s;
  border-radius: 5px;
  text-transform: capitalize;
  &:hover {
    scale: 0.95;
  }
}
