.resolt-container {
  display: flex;
  justify-content: center;
}
.solution {
  align-self: center;
  font-size: 2.5rem;
  border-radius: 25px;
  overflow: hidden;
  max-height: 400px;
  overflow-y: scroll;
}
.resoult {
  border-radius: 25px;
  border: 5px solid #c7c2c2;
  min-width: 200px;
  margin-left: 20px;
}
h2 {
  font-size: 6.5rem;
  text-align: center;
  margin-bottom: 0.5em;
}
.true,
.false {
  text-align: center;
  padding-right: 50px;
  padding-left: 50px;
  color: var(--bg-color);
}
.false {
  background-color: var(--primary);
}
.true {
  background-color: var(--secoundary);
}
.resoult h3{
  text-align: center;
  font-size: 2.5rem;
}
/* % answer */
.circular-chart {
  text-align: center;
  display: block;
  margin: 10px auto;
  max-width: 80%;
  max-height: 250px;
}

.circle {
  stroke: #4CC790;
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
  animation: progress 1s ease-out forwards;
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}